<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>IyzicoTicket</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="../fragments/header :: header">&nbsp;</div>
<br/><br/><br/><br/>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Place</td>
            <td>Date</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${events.empty}">
            <td colspan="4">No Events</td>
        </tr>
        <tr th:each="event : ${events}">
            <td th:text="${event.name}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.place}"></td>
            <td th:text="${event.date}"></td>
            <!--<td><a href="view.html" th:href="@{'/' + ${task.id}}" th:text="${task.title}">Title ...</a></td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>